.homepage_div{
  width:100%;
}
/* ------------below-routes------------- */

.below_routes{
    display: flex;
    gap:30px;
    width:80%;
    margin: auto;
    margin-top: 30px;
    padding: 0px 0px 5px 0px;
    font-size: 14px;
    color:rgb(178, 177, 177);
    box-shadow: rgb(66, 64, 64) 0px 25px 20px -30px;
}
.below_routes div{
    padding-bottom: 10px;
}
.below_routes div:hover{
    border-bottom: 3px solid  #F7E300;
    transition:ease;
    cursor: pointer;
}

.left_right_div{
    width: 80%;
    margin: auto;
    display: flex;
    gap:20px;
}

/* ---------price in india------------------- */

.price_india{
   width:80%;
   margin: auto;
}

.bootom_border{
    width:40px;
    margin-top: 5px;
    border-bottom: 5px solid #F7E300;
    border-radius: 20px;
  }

  .price_table{
    display: flex;
    gap:50px;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #1b1c1d,-1px -1px 2px #2f3136!important;
}

.price_table>div>ul>li{
    list-style: none;
    font-size: 14px;
    color:rgb(200, 197, 197);
    line-height: 2; 
}
.price_table>div>ul>li:nth-child(1){
    margin-bottom: 10px;
    font-size: 12px;
    color:rgb(106, 105, 105);
}