.leftdiv{
    margin-top: 20px;
    width:75%;
    font-size: 14px;
}
.bootom_border{
  width:40px;
  margin-top: 5px;
  border-bottom: 5px solid #F7E300;
  border-radius: 20px;
}
.overview_flex{
    display: flex;
    gap:30px;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #1b1c1d,-1px -1px 2px #2f3136!important;
}

.overview_flex>div{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.para_flex{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.para_flex>span:nth-child(1){
    color:rgb(106, 105, 105);
}

.para_flex>span:nth-child(2){
    color:rgb(166, 165, 165); 
}

/* ------------.CB_Verdict--------------------------- */

.CB_Verdict{
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #1b1c1d,-1px -1px 2px #2f3136!important;
}

.CB_Verdict>div{
   display: flex;
   width:95%;
   justify-content: space-between;
   align-items: center;
}

.CB_Verdict>div>p{
    font-size: 18px;
}
.CB_Verdict>p{
    font-size: 14px;
    color:rgb(166, 165, 165);
}

.green_circle{
    border: 4px solid rgb(6, 232, 6);
    padding: 5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-right: none;
    border-bottom: none;
}

.green_circle>div{
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  color:rgb(6, 232, 6)
}

/* ----------pros-cons--------------------- */

.pros_cons{
    display: flex;
    gap:30px;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #1b1c1d,-1px -1px 2px #2f3136!important; 
}

.likedicons{
    display: flex;
    gap: 5px;
    margin-left: 20px;
}

.pros_cons ul>li{
    line-height: 2;
    color:rgb(166, 165, 165);
    font-size: 12px;
}